.employeesContainer{
  height: 100vh;
}

.employeesContainer .btn-info{
    background-color:rgb(55, 190, 243);
  }
  
 .employeesContainer .btn-danger{
    background-color: rgb(236, 78, 78);
  }

 .employeesContainer .tr-fired{
    background-color: rgba(227, 20, 20, 0.299)!important;
  }
 .employeesContainer .tr-notFired{
    background-color: rgba(0, 0, 0, .05)!important;
  }

  .employeesContainer .table td {
   
    cursor: pointer;
  }
  .containerTable{
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
  }
 
  .employeesContainer thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(83, 83, 83);
    color: white;
  }