.star-rating .fa-star {
    color: rgb(255, 174, 0);
}
.review-date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.9em;
    color: grey;
}

.list-group-item {
    position: relative;
}

#reviewsTabContent .list-group-item {
    box-shadow: rgba(0, 0, 0, 0.15) 1.4px 1.4px 2px;
}

#recent-reviews > .list-group{
    position: relative;
}

.absoluteDeletebtn{
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1;
    cursor: pointer;
    display: none;
}

.absoluteDeletebtn:hover{
    color: rgb(60, 60, 60);
    font-size: 1.1em;
    top: 9px;
    right: 14px;
}

.create-feedback-input-employee{
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.star-rating > i{
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 3px;
}

#create-review label{
    font-weight: 500;
}

@media screen and (max-width: 1200px) {
    #create-feedback-flex-cont {
        display: inline-block !important;
    }
}