.star-rating .fa-star {
    color: rgb(255, 174, 0);
}
.review-date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.9em;
    color: grey;
}

.list-group-item {
    position: relative;
}

#reviewsTabContent .list-group-item {
    box-shadow: rgba(0, 0, 0, 0.15) 1.4px 1.4px 2px;
}