.DepsJobscontainer{
  height: 100vh;
}

.DepsJobscontainer .limited-height {
  height: 194px;
  max-height: 194px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.DepsJobscontainer .readonly-input {
  background-color: #e9ecef;
  pointer-events: none;
}

.DepsJobscontainer .depjobs-table-container {
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.DepsJobscontainer .table {
  width: 100%;
}

.DepsJobscontainer .table th, .table td {
  padding-left: 15px;
}

.DepsJobscontainer .depjobs-table-container .table td {
  cursor: pointer;
}

.DepsJobscontainer thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(83, 83, 83);
  color: white;
}

.DepsJobscontainer .depjobs-buttons > button{
  margin-right: 15px;
}

.DepsJobscontainer .depjob-active{
  background-color: rgb(223, 223, 223);
  font-weight: 500;
}

/* .DepsJobscontainer .modal-form .row{
  display: flex;
  justify-content: space-between;
} */

.DepsJobscontainer .modal-form .col-md-5{
  margin-top: 6px;
  font-size: 13pt;
}