.task-page-container {
  height: 100vh;
}

.task-page-container .task-container {
  border-radius: 0.25rem;
  overflow: hidden;
  margin-bottom: 1rem;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 30px;
  transition: box-shadow 0.25s;
}

.task-page-container .task-container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.task-page-container .task-cover img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.task-page-container .task-content {
  padding: 1rem;
}

.task-page-container .task-title {
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
  white-space: normal;
}

.task-page-container .task-deadline, .task-page-container .task-done-date {
  font-size: 1rem;
  color: #6c757d;
}

.task-page-container .task-obligatory {
  background-color: #d1ecf1;
}

.task-page-container .task-optional {
  background-color: #fedf77;
}
.task-page-container .task-done {
  background-color: #85f19e;
}

.task-page-container .task-overdue {
  background-color: #d4555f;
  color: white;
}

.task-page-container .task-obligatory-add{
  font-size: 56pt;
  color: #666; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: font-size 0.1s ease-in, font-weight 0.1s ease-in;
}

.task-page-container .task-obligatory-add:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-size: 60pt;
  font-weight: 600;
}

.task-page-container .task-overdue .task-deadline{
  color: rgb(207, 207, 207);
}

.task-page-container .noTasks{
  margin: 60px 50px;
}

.task-page-container #all-tasks, .task-page-container #obligatory, .task-page-container #optional, .task-page-container #done{
  margin-left: 30px;
}

@media (max-width: 767px) {
  .task-page-container .task-container {
    height: auto;
  }
}