h1 {
    color: #343a40;
}

.projectsContainer .card {
    margin-bottom: 20px;
    border: none;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}


.projectsContainer .card-img-top {
  width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 3px solid #007bff;
}

.projectsContainer .card-title {
    color: #007bff;
    font-weight: bold;
}

.projectsContainer .card-text {
    color: #6c757d;
}

.projectsContainer .project-dates {
    font-size: 0.9rem;
    color: #495057;
}

.projectsContainer .badge-done {
    background-color: #28a745;
}

.projectsContainer .badge{
    width: auto;
}
.projectsContainer .badge-pending {
    background-color: #dc3545;
}
.projectsContainer .myCon{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.projectsContainer  .alignBtn{
    text-align: center;
}
.projectsContainer .alignBtn>button{
   width: 70%;
}