.sidebar {
    position: fixed;
    top: 0;
    left: -170px;
    height: 100%;
    width: 250px;
    background-color: #333;
    padding-top: 50px;
    transition: left 0.3s;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1000;
}

.sidebar a {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease-out;
}

.sidebar > header
{
    position: relative;
    font-weight: 600;
    font-size: 16pt;
    width: 100%;
    text-align: center;
}

.sidebar > header > span
{
    opacity: 0;
    transition: opacity 0.2s;
}

.sidebar > header > i
{
    position: absolute;
    font-size: 20pt;
    left: 200px;
    top: 5px;
    transition: left 0.3;
}

.sidebar-main-div
{
    width: 100%;
    height: calc(100% - 130px);
    border-top: #fff 0.1px solid;
    padding-top: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar a > div{
    position: relative;
    margin-left: 10px;
    font-size: 14pt;
}

.sidebar a > div > i{
    position: absolute;
    left: 178px;
    top: 5px;
    transition: left 0.2s;
}

.sidebar-main-div span
{
    margin-left: 45px;
}

.sidebar a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}

.sidebar > footer
{
    font-size: 16pt;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: #fff 0.1px solid;
}

.sidebar > footer > a > div
{
    position: relative;
}

.sidebar > footer span
{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin-left: -15px;
}

footer
{
    height: 50px;
}

.main-container
{
    margin-left: 100px;
}